body {
	margin-top: 30px;
}

.well, .hero-unit {
	background-color: rgb(184,0,0);
	color: white;
}

.well a, .hero-unit a {
	font-weight: bold;
	color: white;
}

.tweet-collection-container {
}

.tweet-collection-container > li {
	outline: solid rgb(184,0,0) 1px ;
	margin: 5px;
	padding: 15px;
	float: left;
	width: 100%;
}

.tweet-collection-container > li.new {
	background-color: silver;
}

.tweet-collection-container > li img {
	float:left;
}
.tweet-collection-container > li p {
	float:right;
}